.Contato {
    width: 90%;
    margin: 0px auto;
    height: 474px;
}

.Contato__container {
    height: 404px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 21px;
    align-items: center;
    justify-content: center;
}

.Contato h2 {
    font-size: 54px;
    font-weight: 900;
    font-family: var(--font-contato);
}

.Contato figure,
h2 {
    color: #FFFFFF;
}

.Contato span {
    display: block;
    max-width: 300px;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 14px;
    font-family: var(--font-contato);
}

.Contato section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 22px;
    gap: 12px;
}

.Contato figure {
    width: 236px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 7px 9px;
    gap: 5px;
    box-shadow: 13px 12px 20px 2px rgb(24, 21, 21);
    text-align: left;
    font-family: var(--font-contato);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.Contato figure:hover {
    background-color: #3d3b3b;
    transform: translateY(-14px);
    box-shadow: 10px 12px 2px 2px #353333;
}

@media screen and (max-width:955px) {
    .Contato {
        height: 523px;
        display: flex
;
        justify-content: center;
    }

    .Contato section {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .Contato__container {
        height: auto;
        gap: 4px;
        top: 0px;
        display: flex;
        justify-content: center;
    }

    .Contato h2 {
        font-size: 39px;
    }

    .Contato span {
        font-size: 12px;
        font-weight: 500;
        white-space: normal;
        word-break: break-word;
    }
}

@media screen and (max-width:557px) {
    .Contato {
        height: auto;
        gap: 0px;
    }

    .Contato h2 {
        font-size: 44px;
    }

    .Contato section {
        flex-direction: column;
    }
}