.links{
    width: 100%;
    height: 70px;
    align-items: center;
    display: flex;
    margin: 30px 0px;
} 
.links img{
    width: 150px;
    height: 100px;
    border-radius: 13px;
}
.links nav{
    display: flex;
    width: 95%;
    margin: 0px auto;
    height: 80px;
    justify-content: space-between;
     align-items: center;
}

.links ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
   gap: 15px;
}
.links li{
    font-weight: 600;
    font-size: 20px;
    font-family: var(--fonte-link);
}
.links a{
    color:var(--branco);
}
.links a:hover{
    color:var(--verde);
    text-decoration: underline;
}
@media  (max-width: 570px) {
   
    .links a{
        font-size: 16px;
    } 
}
@media  (max-width: 430px) {
    .links{
        margin: 0px;
    }
    .links img{
        display: none;
    }
    .links nav{
        justify-content: center;
    }
}