.paginaInicial{
    width: 97%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 12px;
}
@media screen and (max-width: 900px){
    .paginaInicial{
        width: 100%;
        margin: 0px;
    }
}