.curso{
    display: flex;
    flex-direction: column;
     width: 90%;
    margin: 0px auto;
    height: auto;
    align-items: center;
    justify-content: center;
}
.curso h2{
    font-size: 34px;
    font-family: var(--font-react);
    font-weight: 700;
    margin-bottom: 40px;
}
.curso__container{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 9px;
}
.curso img{
    width: 49%;
    height: 287px;
}
.curso p{
    font-size: 24px;
    font-weight: 500;
    margin-top: 15px;
}
.curso strong{
    color: rgb(98, 191, 231);
   margin: 0px 6px;
}
.curso strong:hover{
    color:rgb(52, 3, 52);
    transform: 0.2 ;
    text-decoration: underline;
}

@media screen and (max-width: 900px){
    .curso{
        height: auto;
    }
    .curso__container{
        flex-direction: column;
    }
}
@media screen and (max-width: 550px){
    .curso h2{
        font-size: 29px;
    }
    .curso p{
        text-align: center;
        width: 80%;
        font-size: 18px;
    }
    .curso img{
        width: 100%;
    }
}