.home{
    color: aliceblue;
    display: flex;
    gap: 30px;
    justify-content: space-around;
    margin: 0px auto;
    width: 90%;
    height: auto;
}
.home__image{
    border-radius: 9px;
    height: auto;
    width: 45%;
}  
.home__container{
    width: 45%;
    display:flex;
    flex-direction: column;
    gap: 20px;
}
.home__titulo{
    font-size: 32px;
    font-weight: bold;
    line-height: 32.40px;
    font-family: var(--fonte-home);
}
.linha{
    border-bottom: 4px solid var(--azul);
    width: 350px;
}
.itensLinguagem{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    gap: 12px;
}
 .home__qudro{
   display: flex;
    flex-direction: column;
    gap: 18px;
}
.home__text{
    width: 100%;
    font-size: 18px;
    font-weight: 300;
    font-family: var(--fonte-home);
}
.home__subtitulo{
    font-size: 22px;
    font-weight: 700;
    line-height: 12px;
    margin-top: 12px;
    font-family: var(--fonte-home);
}
.home__skills{
    font-family: var(--fonte-home);
}
.home__button{
    background: transparent;
    border-radius: 12px;
    padding: 8px;
    width: 130px;
    text-align: center;
    border: 2px solid var(--branco);
    color: var(--branco);
    box-shadow: 8px 10px 4px 5px rgb(24, 21, 21);
}
.home__button:hover{
    border: 3px dotted var(--verde);
    color: var(--verde);
    text-decoration: underline;
}

@media screen and (max-width: 1200px) {
    .home{
        gap: 0px;
    }
    .home__container{
        width: 55%;
    }
    .home__image{
        width: 38%;
    }
    .home__subtitulo{
        margin-bottom: 6px ;
    }
    .home__button{
        width: 116px;
    }
    .itensLinguagem {
        justify-content: space-between;
        gap: 16px 5px;
    }
}
@media screen and (max-width: 906px) {
    .home{
        flex-direction:column;
        align-items: center;
    }
    .home__qudro{
        width:50%;
    }
    .home h2{
        font-size: 29px;
    }
    .home p{
        font-size: 16px;
    }
    .home__container{
        width: 90%;
        align-items: center;
        gap: 16px;
        margin-top: 27px;
    }
    .itensLinguagem {
        justify-content: space-evenly;
        width: 115%;
        gap: 20px 11px;
    }  
}
@media screen and (max-width: 540px){
    .linha{
        width: 80%;
    }
}
@media screen and (max-width: 585px){
    .linha{
        width: 90%;
    }
}